body {
    font-family: Arial, sans-serif;

    background-image: url("background.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    display: flex;
    justify-content: center;
    align-items: center;

    height: 100vh;
    margin: 0;
}

.login-box {
    background: white;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    width: 250px;
}

input {
    width: 90%;
    padding: 10px;
    margin: 10px 0;
}

button {
    width: 100%;
    padding: 10px;
    background: blue;
    color: white;
    border: none;
    border-radius: 5px;
}
